<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Домены</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding: 20px 0;
    }
    .pagination {
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="container mt-4">
    <h1>Список доменов</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Домен</th>
                <th>Дата освобождения</th>
                <th>ИКС</th>
                <th>Возраст</th>
                <th>Юр.</th>
                <th>Ставка</th>
                <th>Links Expired</th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain[0] }}</td>
                <td>{{ domain[1] }}</td>
                <td>{{ domain[2] }}</td>
                <td>{{ domain[3] }}</td>
                <td>{{ domain[4] }}</td>
                <td>{{ domain[5] }}</td>
                <td>{{ domain[6] }}</td>
                <td>{{ domain[7] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Навигация по страницам">
      <ul class="pagination justify-content-center">
        {% if page > 1 %}
          <li class="page-item"><a class="page-link" href="{{ url_for('domains_page', page=page-1) }}">Назад</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Назад</a></li>
        {% endif %}

        {% for p in range(1, total_pages+1) %}
          <li class="page-item {% if p == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('domains_page', page=p) }}">{{ p }}</a>
          </li>
        {% endfor %}

        {% if page < total_pages %}
          <li class="page-item"><a class="page-link" href="{{ url_for('domains_page', page=page+1) }}">Вперёд</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Вперёд</a></li>
        {% endif %}
      </ul>
    </nav>
</div>

<!-- Bootstrap JS Bundle с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
